{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <a class="index-button" href="{{ path('app_home') }}">Return to list</a>
    <a class="edit-button" href="{{ path('app_messages_edit', {'id': message.id}) }}">Edit</a>
    {{ include('messages/_delete_form.html.twig') }}
    <div class="message-content">
        <h1>{{ message.title }}</h1>
        <p class="date">{{ message.createdAt ? message.createdAt|date('Y-m-d h:m', "Europe/Paris") : '' }}</p>
        <p class="salutations">Dear Muffin,</p>
        <div class="content">{{ message.text|raw }}</div>
        <div class="signed">Loki</div>
    </div>
{% endblock %}
